<template>
    <CostumeInfomation :imgleft="items.left" :imgright="items.right" :index="index"></CostumeInfomation>
</template>

<script>
import CostumeInfomation from '@/components/CostumeInfomation.vue'
<<<<<<< HEAD
import tay1 from '@/assets/img/tay1.png'
import tay2 from '@/assets/img/tay2.png'
export default {
    name: "Hà Nhì",

    data() {
        return {
            items: {left: tay1,right: tay2},
=======
import hanhi1 from '@/assets/img/hanhi1.png'
import hanhi2 from '@/assets/img/hanhi2.png'
export default {
    data() {
        return {
            items: {left: hanhi1,right: hanhi2},
>>>>>>> d498d3e398e28b944660c2546eb4c66fa91760e5
            index: 1,
        }
    },

    components: {
        CostumeInfomation
    },
}
</script>