<template>
    <CostumeInfomation :imgleft="items.left" :imgright="items.right" :index="index"></CostumeInfomation>
</template>

<script>
import CostumeInfomation from '@/components/CostumeInfomation.vue'
<<<<<<< HEAD
import tay1 from '@/assets/img/tay1.png'
import tay2 from '@/assets/img/tay2.png'
export default {
    name: "Kháng",

    data() {
        return {
            items: {left: tay1,right: tay2},
=======
import khang1 from '@/assets/img/khang1.png'
import khang2 from '@/assets/img/khang2.png'
export default {

    data() {
        return {
            items: {left: khang1,right: khang2},
>>>>>>> d498d3e398e28b944660c2546eb4c66fa91760e5
            index: 2,
        }
    },

    components: {
        CostumeInfomation
    },
}
</script>