<template>
    <CostumeInfomation :imgleft="items.left" :imgright="items.right" :index="index"></CostumeInfomation>
</template>

<script>
import CostumeInfomation from '@/components/CostumeInfomation.vue'
import tay1 from '@/assets/img/tay1.png'
import tay2 from '@/assets/img/tay2.png'
export default {
<<<<<<< HEAD
    name: "Tày",
=======
>>>>>>> d498d3e398e28b944660c2546eb4c66fa91760e5

    data() {
        return {
            items: {left: tay1,right: tay2},
<<<<<<< HEAD
            index: 0,
=======
            index: 26,
>>>>>>> d498d3e398e28b944660c2546eb4c66fa91760e5
        }
    },

    components: {
        CostumeInfomation
    },
}
</script>